<div class="app-body">
	<div class="sidebar">
		<nav class="sidebar-nav">
			<ul class="nav">
				<!--메뉴타이틀 -->
				<li class="nav-item nav-dropdown open" style="cursor: pointer;"><a
						class="nav-link nav-dropdown-toggle"><i class="nav-icon icon-note"></i> 회원관리</a>
					<ul class="nav-dropdown-items">
						<li class="nav-item">
							<a class="nav-link" href="/admin/m_user/page?page=1">
								<i class="nav-icon icon-arrow-right"></i> 회원 정보</a>
						</li>
					</ul>
				</li>
				<li class="nav-item nav-dropdown open" style="cursor: pointer;"><a
						class="nav-link nav-dropdown-toggle"><i class="nav-icon icon-note"></i> 게시판관리</a>
					<ul class="nav-dropdown-items">
						<li class="nav-item">
							<a class="nav-link" href="/admin/m_notice/notice?page=1">
								<i class="nav-icon icon-arrow-right"></i> 공지사항</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/admin/m_gallery/gallery?&page=1">
								<i class="nav-icon icon-arrow-right"></i> 갤러리</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/admin/m_refer/reference?&page=1">
								<i class="nav-icon icon-arrow-right"></i> 자료실</a>
						</li>
					</ul>
				</li>
				<li class="nav-item nav-dropdown open" style="cursor: pointer;"><a
						class="nav-link nav-dropdown-toggle"><i class="nav-icon icon-note"></i> 행사관리</a>
					<ul class="nav-dropdown-items">
						<li class="nav-item">
							<a class="nav-link" href="/admin/m_certification/certiAll?certiDivision=0&page=1">
								<i class="nav-icon icon-arrow-right"></i> 행사관리</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/admin/m_certiContent/certiContentAll?certiDivision=0&page=1">
								<i class="nav-icon icon-arrow-right"></i> 투표명단</a>
						</li>
					</ul>
				</li>
				<li class="nav-item nav-dropdown open" style="cursor: pointer;"><a
						class="nav-link nav-dropdown-toggle"><i class="nav-icon icon-note"></i> 후원</a>
					<ul class="nav-dropdown-items">
						<li class="nav-item">
							<a class="nav-link" href="/admin/m_support?page=1">
								<i class="nav-icon icon-arrow-right"></i> 후원목록</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>